<% provide(:title, 'discover') %>
<div class="row" id="row-form">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1 class="text-center">Reistipps</h1>
      <p class="text-center">Die wichtigsten Dinge zum nachlesen.</p>
    </div>
    <p lang="de-DE">
  <u><strong>Anfahrtsbeschreibung:</strong></u>
</p>
<p lang="de-DE">
  (google Maps: Aéroport Poretta – A Chiosura 41 km)
  <br/>
  <br/>
</p>
<p lang="de-DE">
  Vom Flughafen nehmt ihr bitte die Straße, die nach Ajaccio und Bonifacio
  geht.
</p>
<p lang="de-DE">
  An einem Kreisel teilt sich das dann, und da nehmt ihr bitte Richtung
  Bonifacio.
</p>
<p lang="de-DE">
  Immer dieser Straße folgen. Nach ca.25 km kommt ihr durch Moriani.
</p>
<p lang="de-DE">
  Danach kommt nach ca. 12 km ein sehr großer Supermarkt (Lelcerc) rechts:
</p>
<p lang="de-DE">
  Dann kommen 2 Tankstellen.
</p>
<p lang="de-DE">
  (an der 2. Tankstelle ist ein Boulanger/Patissier (Bäcker/Konditor) mit
  Salon de Thé. und ein kleiner Gemüsemarkt, der fast immer auf hat!)
  <br/>
  <br/>
</p>
<p lang="de-DE">
  Nach dieser 2. Tankstelle kommt eine Werkstatt (Garage) mit roten
  Schildern.
</p>
<p lang="de-DE">
  Dann fährt man in eine Senke.
</p>
<p lang="de-DE">
  Unten in der Senke ist rechts ein roter Hydrant und links die Einfahrt ist
  Eure!
</p>
<p lang="de-DE">
  Da ist ein Hinweisschild: A Chiosura und Restaurant Chez Rose Marie.
</p>
<p lang="de-DE">
  Bitte rechtzeitig blinken, langsam fahren und unbedingt auf überholende
  Fahrzeuge achten!!
</p>
<p lang="de-DE">
  Dem Weg folgen und nach der Kuppe nach links fahren. Dann seht ihr die
  Häuser schon rechts liegen.
</p>
<p lang="de-DE">
  Die erste Möglichkeit nach rechts abbiegen und durch das weiße Tor fahren.
  (falls es geschlossen ist… ihr habt einen Schlüssel!)
</p>
<p lang="de-DE">
  Dem Weg folgen und nach der Rechtskurve den ersten Weg nach links
  einbiegen.
</p>
<p lang="de-DE">
  Dann steht ihr an unsrer Hecke (ein Stein mit B11 ist am Boden zu unserem
  Eingang) und könnt das Gepäck ausladen und über die Terrassentür ins Haus
  kommen.
</p>
<p lang="de-DE">
  Danach bitte zurückfahren, nach den Garagen rechts fahren und das Auto auf
  dem Gästeparkplatz abstellen.
</p>
<p lang="de-DE">
  Zum Be- und Entladen kann man in die Siedlung fahren, sonst bitte nicht.
</p>
<p lang="de-DE">
  Bei sonstigen Problemen bitte nach Will Haake fragen. Er wohnt in der
  Rechtskurve und ist die gute Seele der Siedlung.
</p>
<p lang="de-DE">
  <u><strong>Einkaufen: Lebensmittel:</strong></u>
</p>
<p lang="de-DE">
  <u>Bäcker</u>
  : kommt morgens in die Siedlung! Uhrzeit erfragen, meist so 8.15 Uhr
</p>
<p lang="de-DE">
  Wenn das zu früh ist, muss selbst fahren zum Salon de thé s.o.
</p>
<p lang="de-DE">
  <u>Lebensmittel:</u>
  Leclerc (s.o.) hat alles auch frischen Fisch (Öffnungszeiten variieren nach
  Saison)
</p>
<p lang="de-DE">
  Gemüseladen: hat auch einiges, vor allem Obst aus Korsika
</p>
<p lang="de-DE">
  <u>Fisch: </u>
</p>
<p lang="de-DE">
  am Etang de Diane. vor Aléria: da kann man auch Muscheln und Fisch so
  kaufen!
</p>
<p lang="de-DE">
  am Hafen von Campoloro (nach Norden fahren und vorher fragen, ob das noch
  lohnt und wann…. ganz früh am Morgen…)
</p>
<p lang="de-DE">
  <u>Metzger</u>
  (Boucherie / Charcuterie):
</p>
<p lang="de-DE">
  Im Supermarkt, oder
</p>
<p lang="de-DE">
  viel besser bei: Leoni (Einfahrt mit schönen großen Palmen)
</p>
<p lang="de-DE">
  von uns aus vor Prunette auf der linken Seite. Am Kreisel ist man schon
  vorbei 
</p>
<p lang="de-DE">
  <u><strong>Einkaufen sonstiges:</strong></u>
</p>
<p lang="de-DE">
  Boutique am Supermarkt
</p>
<p lang="de-DE">
  oder dann in Bastia, oder Ajaccio
</p>
<p lang="de-DE">
  <u><strong>Restaurants: </strong></u>
</p>
<p lang="de-DE">
  fußläufig: am Strand nach rechts: Chez Rose Marie, reservieren ist oft
  nötig!
</p>
<p lang="de-DE">
  fußläufig: am Strand nach links: La Siesta. Sehr leckere Pizza.
</p>
<p lang="de-DE">
  Wenn viele Einheimische da sind ist das ein gutes Zeichen.
</p>
<p lang="de-DE">
  Ansonsten lohnt es sich andere Gäste zu fragen, wo es in diesem Jahr gut
  ist.
</p>
<p lang="de-DE">
  Sehr schön war eine Mühle bei Tox.
</p>
<p lang="de-DE">
  Richtung Aléria, Abzweig nach Tox, dann ist U Moulinu ausgeschildert
</p>
<p lang="de-DE">
  auch in Cervione (Dorf in den Bergen) gibt es Lokale …. fragen was gerade
  gut ist…
</p>
<p lang="de-DE">
  Eine prima Pizza und hervorragende Charcuterie und das beste Eis der Welt
  gibt es in St. Andrea di Cotone in der Nähe von Cervione. s. Flyer (Le
  Coton’s A Buttega)
</p>
<p lang="de-DE">
  Fisch/ Muscheln : Etang de Diane : Richtung Süden kurz vor Aléria links,
  meerseitig
</p>
<p lang="de-DE">
  Sehr gut war es auch bei U Caradellu nach Süden an der Straße (meerseitig),
</p>
<p lang="de-DE">
  sehr lecker! Reservieren nötig. Siehe Telfonbuch im Haus U corsu
</p>
<p lang="de-DE">
  Nett sitzt man auch in Moriani Plage an der Allee zum Strand rechts unter
  dichten Bäumen- wie das Restaurant heiß weiß ich leider nicht mehr. Riesen
  Eisbecher!!!
</p>
<p lang="de-DE">
  Hinter Aléria gibt es eine Distillerie: Domaine de Mavela
</p>
<p lang="de-DE">
  mit Gewölbekeller toller Charcuterie etc.. Teuer aber klasse.
  <br/>
  <br/>
</p>
<p lang="de-DE">
  Korsische Rezepte zum Selbstkochen: Im Bücherregal!
</p>
<p lang="de-DE">
  <u><strong>Internet:</strong></u>
</p>
<p lang="de-DE">
  bei Rose Marie, Code kann man erfragen
</p>
<p lang="de-DE">
  Ansonsten einen Wifi-Pas von Orange erwerben.
</p>
<p lang="de-DE">
  Einfach auf Internet gehen dann sollte automatisch die Seite mit „Orange“
  aufgehen- sogar auf Deutsch
</p>
<p lang="de-DE">
  Falls noch einer gültig ist, stehen die Zugangsdaten auf einem Zettel im
  ersten roten dtv-Lexikon
</p>
<p lang="de-DE">
  <br/>
  <u><strong>Unternehmungen:</strong></u>
</p>
<p lang="de-DE">
  <u><strong>unbedingt sehenswert:</strong></u>
</p>
<ul>
  <li>
      <p lang="de-DE">
          Tagestour nach Bonifatio
      </p>
  </li>
  <li>
      <p lang="de-DE">
          Eine Wanderung: z.B.: zum Lac de Melo (s. Führer im Haus)
      </p>
  </li>
  <li>
      <p lang="de-DE">
          Aléria römische Ausgrabungen und Museum
      </p>
  </li>
  <li>
      <p lang="de-DE">
          Ein Ausflug in die „Gumpen“ (Bergbäche stauen sich zu kleinen
          Seen….kalt, klar, toll) : Fahrt nach Süden hinter Aléria D343 und
          über die 343A nach St- Antoine auf die D344 dann Richtung Ghisoni
          in die Berge. Irgendwann kommt eine Kieffer, die die Form eines Y
          hat. Da parken und sich nach links in die Büsche schlagen und den
          Trampelpfaden folgen. Viel Spaß!
      </p>
  </li>
</ul>
<p lang="de-DE">
  <u><strong>Sehr Schön: </strong></u>
</p>
<p lang="de-DE">
  St. Florent im Nord- Osten
</p>
<p lang="de-DE">
  Calvi
</p>
<p lang="de-DE">
  Bastia
</p>
<p lang="en-GB">
  evtl. Cap Cosre
</p>
<p lang="en-GB">
  Corte
</p>
<p lang="de-DE">
  Ajaccio ( Geburtshaus von Napoléon)
</p>
<p lang="en-GB">
  Filitosa
</p>
<p lang="de-DE">
  Aber da muss jeder entscheiden…. deutschsprachige Führer und Wanderkarten
  sind im Haus!
</p>
<p lang="de-DE">
  <u>„</u>
  <u><strong>Pflichtlektüre“ ist im Regal….. </strong></u>
</p>
<p lang="de-DE">
  Asterix auf Korsika =) =) =)
</p>
  </div>
</div>
