<% provide(:title, 'Informationen') %>
<div class="row" id="row-form">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1 class="text-center">Allgemeine Informationen</h1>
      <p class="text-center">Hier findest du weitere wichtigen Informationen über unser Haus.</p>
    </div>
    <p lang="de-DE">
    Liebe Gäste !
    </p>
    <p lang="de-DE">
    Wir möchten, dass alle sich in unserem B11 wohlfühlen!
    </p>
    <p lang="de-DE">
    Folgende Informationen können dazu beitragen:
    </p>
    <ul>
    <li>
        <p lang="de-DE">
            alles kann genutzt werden: natürlich auch Handtücher, Bettwäsche,
            Spiele (in den Körben unter der Treppe), Bücher……
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Toilettenpapier, Reinigungsmittel etc. bitte wieder auffüllen wenn
            etwas zur Neige geht
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Das Gleiche gilt für Öl, Essig, Gewürze etc.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Falls die Sicherung mal rausfliegt…. der Sicherungskasten befindet
            sich neben dem Besen/ Staubsauger
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            alle Bedienungsanleitungen sind in der untersten Schublade in einem
            Schränkchen neben der Haustür.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Die Toilettenspülung ist etwas kapriziös…geht aber wenn man
            entschlossen und zügig draufdrückt.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Die Waschmaschine lässt sich erst ca. 3 Minuten nach Programmende
            öffnen. Nach Gebrauch bitte offen stehen lassen, den Stecker ziehen
            und den Wasserhahn zudrehen.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Bitte die Frottiertücher auf die Liegenauflage legen, ebenso die
            kleinen grauen Tücher auf die Stuhlkissen. Es ist ratsam beides
            über Nacht ins Haus zu legen, sonst ist alles am Morgen unangenehm
            feucht.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Nachts ist es ratsam die Türen abzuschließen.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            <em>
                <strong>
                    Achtung!!! die Platten der Terrasse sind, wenn sie nass
                    sind, sehr sehr glatt !!!!
                </strong>
            </em>
        </p>
    </li>
    </ul>
    <p lang="de-DE">
    <em>
        <strong>
            Besonders nach dem Duschen vorsichtig sein!!!
            <br/>
        </strong>
    </em>
    <br/>
    </p>
    <ul>
    <li>
        <p lang="fr-FR">
            Außendusche: Vorsicht bei gleichzeitigem Wasserverbrauch innen und
            außen!
            <br/>
            Wenn an anderer Stelle warmes Wasser benutzt wird und abgedreht
            wird, wird es draußen unter der Dusche <u>sehr</u> warm.
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Unser großes blaues Sonnenzelt kann gerne genutzt werden. Bitte bei
            starkem Wind tagsüber und über Nacht flach auf den Strand legen und
            mit Sand beschweren.
        </p>
    </li>
    </ul>
    <ul>
    <li>
        <p lang="de-DE">
            Auch die Liegen können gerne benutzt werden..
            <br/>
            <br/>
        </p>
    </li>
    <li>
        <p lang="de-DE">
            Bei allen weiteren Fragen kann man sich immer an Willi Haake
            wenden! B14 oder im Atelier Zwischen B13 und B14 s. Plan an der
            kleinen Steinmauer.
        </p>
    </li>
    </ul>
    <ul>
    <li>
        <p lang="de-DE">
            Vor der Abfahrt über Willi eine Putzkraft bestellen und bezahlen.
        </p>
    </li>
    </ul>
    <ul>
    <li>
        <p lang="de-DE">
            Bei Abfahrt bitte alle verderblichen Lebensmittel entsorgen, oder
            nach Absprache mit Willi
            <br/>
            für die Putzhilfe stehen lassen. Bitte die Kühlschränke ausschalten
            und offen stehen lassen.
            <br/>
            <br/>
        </p>
    </li>
    </ul>
    <p lang="de-DE">
    Eine Bitte noch: wenn der Garten regelmäßig gewässert wird bleibt er für
    alle schön grün!
    </p>
    <p lang="de-DE">
    (vor 9.00 Uhr oder nach 19.00) MERCI !!
    </p>
    <p lang="de-DE">
    Über einen kleinen Eintrag in unserem Gästebuch freuen sich Helga Knaupe
    und Familie
    </p>
    <p lang="de-DE">
    <br/>
    Wir wünschen allen wunderschöne Ferien!
    </p>
  </div>
</div>
