<div class="row" id="row-form">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1 class="text-center">Alle Anfragen und Reseriverungen die sich überschneiden</h1>
      <p class="text-center">Diese Übersicht dient dazu Überschneidungen bei den Anfragen und Buchungen direkt zu erkennen.</p>
    </div>
    <p> hi</p>
  </div>
</div>
