<% provide(:title, 'Korsika buchen') %>
<div class ="container-fluid" id="row-form">
  <div class="col-md-6 col-md-offset-3" id="row-form">
    <div class="alert alert-info">
      <strong>Vielen Dank !</strong> Wir haben deine Anfragen erhalten.
        In Kürze versenden wir eine E-Mail mit den wichtigsten Daten
    </div>
     <%= link_to "Zurück zur Startseite", root_path, :class => "btn btn-default"%>
  </div>
</div>
