/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "styles.css";
 @import "reservations.scss";
 @import "font-awesome";


 /* general */

 body {
   padding-top: 50px;
 }


#row-form{
  padding-top: 50px;
  padding-bottom: 300px;
}

img {
    cursor: zoom-in;
}

 /* forms */

 #error_explanation {
   color: red;
   ul {
     color: red;
     margin: 0 0 30px 0;
   }
 }

 .field_with_errors {
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
 }




 /*
navbar
 */

 .navbar-default {
     background-color: #2F2F2F;
     border-color: #2F2F2F;
 }

 #navbar-collapse-1 {
   padding-right: 20px;
   body {
    color: blue;
  }
 }

 .navbar-brand {
    position: relative; z-index: 2;
    color: white;
  }


 .navbar-nav.navbar-right .btn {
   color: white;
   position: relative;
   z-index: 2;
   padding: 4px 40px;
   margin: 10px auto;
   transition: transform 0.3s;
 }

 .navbar .navbar-collapse { position: relative; overflow: hidden !important; }
 .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

 .navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 160px; padding-left: 80px; width: 100%; }
 .navbar.navbar-default .nav-collapse { background-color: #2F2F2F; }
 .navbar.navbar-inverse .nav-collapse { background-color: #2F2F2F; }
 .navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
 .nav-collapse>li { float: right; }

 .btn.btn-circle { border-radius: 50px; }


 .navbar.navbar-default .nav-collapse,
 .navbar.navbar-inverse .nav-collapse {
     height: auto !important;
     transition: transform 0.3s;
     transform: translate(0px,-50px);
 }
 .navbar.navbar-default .nav-collapse.in,
 .navbar.navbar-inverse .nav-collapse.in {
     transform: translate(0px,0px);
 }


 @media screen and (max-width: 767px) {
     .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; padding-top: 120px}

     .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
     .navbar .nav-collapse .navbar-form { margin: 0; }
     .nav-collapse>li { float: none; }

     .navbar.navbar-default .nav-collapse,
     .navbar.navbar-inverse .nav-collapse {
         transform: translate(-100%,0px);
     }
     .navbar.navbar-default .nav-collapse.in,
     .navbar.navbar-inverse .nav-collapse.in {
         transform: translate(0px,0px);
     }

     .navbar.navbar-default .nav-collapse.slide-down,
     .navbar.navbar-inverse .nav-collapse.slide-down {
         transform: translate(0px,-100%);
     }
     .navbar.navbar-default .nav-collapse.in.slide-down,
     .navbar.navbar-inverse .nav-collapse.in.slide-down {
         transform: translate(0px,0px);
     }
 }



 /* calendar */

 .simple-calendar {
   table {
     -webkit-border-horizontal-spacing: 0px;
     -webkit-border-vertical-spacing: 0px;
     background-color: rgba(0, 0, 0, 0);
     border: 1px solid rgb(221, 221, 221);
     border-collapse: collapse;
     box-sizing: border-box;
     max-width: 100%;
     width: 100%;
   }

   tr {
     border-collapse: collapse;
   }

   th {
     padding: 6px;
     border-bottom: 2px solid rgb(221, 221, 221);
     border-collapse: collapse;
     border-left: 1px solid rgb(221, 221, 221);
     border-right: 1px solid rgb(221, 221, 221);
     border-top: 0px none rgb(51, 51, 51);
     box-sizing: border-box;
     text-align: left;
   }

   td {
     padding: 6px;
     vertical-align: top;
     width: 14%;

     border: 1px solid #ddd;
     border-top-color: rgb(221, 221, 221);
     border-top-style: solid;
     border-top-width: 1px;
     border-right-color: rgb(221, 221, 221);
     border-right-style: solid;
     border-right-width: 1px;
     border-bottom-color: rgb(221, 221, 221);
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-left-color: rgb(221, 221, 221);
     border-left-style: solid;
     border-left-width: 1px;
   }

   .day {
     height: 80px;
   }

   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}

   .today {
     background: #FFFFC0
   }

   .past {}
   .future {}

   .start-date {}

   .prev-month {
     background: #DDD;
   }
   .next-month {
     background: #DDD;
   }
   .current-month {}

   .has-events {
     background: #00BCD4
   }
 }

 /* footer */

 .copyrights{
 margin-top:25px;
 }


 .dark-line{
 border-top: 1px solid #525252;
 }

 .white-txt{
 color: #FFF;
 }


 a.link {
     color: #FFFFFF;
     border: 1px #008acc solid;
     padding: 5px;
     text-decoration: none;
 }

 a.link:hover {
 background: #008acc;
     color: #383838;
 }

 .footimg{
 width: 5rem;
 }
